---
layout: default
---
<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}
  {{ content }}
  <h2 class="post-list-heading">Recent Posts</h2>
  <ul class="post-list">
    {% set recents = site.posts | recent_posts(site.maxhomeposts) %}
    {% for post in recents %}
      <li>
        <span class="post-meta">{{ post.date }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
